<%#= link_to "Facebook Login", '/auth/facebook' ,class:"btn btn-primary"%>
<% if @contacts.nil?%>
  <%= link_to "Google Login", '/contacts/gmail',class:"btn btn-primary"%><br />
  <p>There are no contacts.</p>
<%else%>
  <%= link_to "Logout", contacts_logout_path,class:"btn btn-primary"%>
  <%= link_to "Google Login", '/contacts/gmail',class:"btn btn-primary", disabled: "disabled"%>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody id="contains">
      <% @contacts.each do |c|%>
        <tr>
          <td><%= c[0]%></td>
          <td><%= c[1]%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <div id="selector">
    <%= paginate @contacts %>
  </div>
<%end%>

